.space{
    height: 5%;
}
.slider{
    width: 90%;
    height: 40%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 24s infinite alternate linear;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{ margin-left: 0;}
    10%{ margin-left: 0;}

    15%{ margin-left: -100%;}
    25%{ margin-left: -100%;}

    30%{margin-left: -200%;}
    45%{margin-left: -200%;}

    50%{margin-left: -300%;}
    65%{margin-left: -300%;}

    70%{margin-left: -400%;}
    85%{margin-left: -400%;}

    90%{margin-left: -500%;}
    100%{margin-left: -500%;}
}